# private settings
.salesforce
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# libs
lib-cov
.lock-wscript
build/Release
node_modules
bower_components

#ide
.idea

#ionic
platforms
plugins
resources